<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>rest-posts</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ServletContainer</display-name>
		<servlet-name>ServletContainer</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.bt.rest.crud.provider</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<!-- <param-value>org.glassfish.jersey.jackson.JacksonFeature</param-value> -->
			<param-value>com.bt.rest.crud.provider.JacksonFeature</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletContainer</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<!-- Specifies the part of the application to be authenticated -->
		<web-resource-collection>
			<web-resource-name>Secure Task Services</web-resource-name>

			<!-- Denotes which URI patterns needs to be protected. -->
			<url-pattern>/api/*</url-pattern>

			<!-- Only POST, PUT & DELETE calls are authenticated. Omitting http-method 
				tag altogether will secure all access to the url-pattern above -->
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>

		<!-- Specifies which roles defined in tomcat-users.xml have access to the 
			resources. -->
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>

		<!-- Requests are processed without encryption -->
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<!-- Denotes the authentication method, which in our case is BASIC -->
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>